# Node/Next.js
node_modules
.next
.vercel
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env*.local
.env

# Laravel
/backend/vendor
/backend/node_modules
/backend/public/hot
/backend/public/storage
/backend/storage/*.bak
/backend/bootstrap/cache/*.php
/backend/.env
/backend/.phpunit.result.cache
/backend/Homestead.json
/backend/Homestead.yaml
/backend/.vagrant
/backend/ActiBook.json
/backend/forge.json
/backend/*.sql
/backend/nova-components.json

# Python AI Service
/ai-service/__pycache__
/ai-service/.venv
/ai-service/venv
/ai-service/.env
/ai-service/*.pyc
/ai-service/*.log
/ai-service/tmp/ # For temporary files like downloaded documents
/ai-service/dist/
/ai-service/build/

# Frontend
/frontend/node_modules
/frontend/.next
/frontend/.vercel
/frontend/.env.local
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

# OS specific
.DS_Store
.vscode
.idea
*.sublime-project
*.sublime-workspace
.babelrc.local
.eslintcache
.pnp.*
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json
.history
.aws-sam/
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
.dockerignore